/*!
 * @theme light
 * @author Daniel Nicolas Gisolfi / Andy Lok
 *
 * @auto-scaling true
 * @size 4:3 960px 720px
 * @size 16:9 1280px 720px
 */

@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:400,900|IBM+Plex+Sans:300,400,700");

/* Variables */
:root {
  --light-background: #ffffff;
  --light-current-line: #e3e3e3;
  --light-foreground: #000000;
  --light-comment: #6272a4;
  --light-cyan: #447fad;
  --light-green: #43833c;
  --light-orange: #f0a25c;
  --light-pink: #890f50;
  --light-purple: #bd93f9;
  --light-red: #9c4f8a;
  --light-yellow: #f0a25c;
}

/* Base Layout */
section {
  font-family: "IBM Plex Sans";
  font-size: 25px;
  line-height: 1.35;
  padding: 70px;
  color: var(--light-foreground);
  background-color: var(--light-background);
}

section>*:first-child,
section>header:first-child+* {
  margin-top: 0;
}

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0 0 0;
  color: var(--light-cyan);
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  color: var(--light-foreground);
  font-size: 0.9em;
  font-weight: 400;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
}

/* Text Elements */
p,
blockquote {
  margin: 0.5em 0 0 0;
  font-size: 0.6em;
}

p {
  font-weight: 300;
}

p strong {
  font-weight: 700;
}

blockquote {
  margin: 1em 0 0 0;
  padding: 0 1em;
  position: relative;
  color: var(--light-orange);
}

blockquote::before,
blockquote::after {
  content: "";
  display: block;
  font-family: "Times New Roman", serif;
  font-weight: bold;
  position: absolute;
  color: var(--light-green);
}

blockquote::before {
  top: 0;
  left: 0;
}

blockquote::after {
  right: 0;
  bottom: 0;
  transform: rotate(180deg);
}

blockquote>*:first-child {
  margin-top: 0;
}

/* Lists */
ul {
  list-style-type: disc;
  font-weight: 300;
  font-size: 22px;
}

ol {
  padding-left: 0.7em;
  font-size: 16px;
}

ul li,
ol li {
  padding-top: 0.6em;
  margin: 0.5em 0 0 0;
  color: var(--light-foreground);
}

/* Code Blocks */
code {
  display: inline-block;
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.8em;
  letter-spacing: 0;
  margin: -0.1em 0.15em;
  padding: 0.1em 0.2em;
  vertical-align: baseline;
  background: var(--light-current-line);
}

pre {
  display: block;
  margin: 1em 0 0 0;
  min-height: 1em;
  overflow: visible;
}

pre code {
  box-sizing: border-box;
  margin: 0;
  min-width: 100%;
  padding: 0.5em;
  font-size: 0.5em;
  background: var(--light-background);
}

/* Syntax Highlighting */
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: var(--light-background);
}

.hljs,
.hljs-subst,
.hljs-typing,
.hljs-variable,
.hljs-template-variable {
  color: var(--light-foreground);
}

.hljs-comment,
.hljs-quote,
.hljs-deletion {
  color: var(--light-comment);
}

.hljs-meta .hljs-doctag,
.hljs-built_in,
.hljs-selector-tag,
.hljs-section,
.hljs-link,
.hljs-class {
  color: var(--light-cyan);
}


.hljs-title {
  color: var(--light-pink);
}

.hljs-params {
  color: var(--light-orange);
}

.hljs-keyword {
  color: var(--light-pink);
}

.hljs-literal,
.hljs-number {
  color: var(--light-green);
}

.hljs-regexp {
  color: var(--light-red);
}

.hljs-string,
.hljs-name,
.hljs-type,
.hljs-attr,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-template-tag {
  color: var(--light-yellow);
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-params,
.hljs-emphasis {
  font-style: italic;
}

/* Tables */
table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1em 0 0 0;
}

table th,
table td {
  padding: 0.3em 1.2em;
  border-width: 1px;
  border-style: solid;
  border-color: var(--light-foreground);
  font-size: 0.6em;
  font-weight: 300;
}

table thead th {
  background: var(--light-background);
  color: var(--light-red);
}

table tbody>tr:nth-child(even) td,
table tbody>tr:nth-child(even) th {
  background: var(--light-background);
}

/* Header, Footer and Section */
header,
footer,
section::after {
  box-sizing: border-box;
  font-size: 66%;
  height: 70px;
  line-height: 50px;
  overflow: hidden;
  padding: 10px 25px;
  position: absolute;
  color: var(--light-comment);
}

header {
  left: 0;
  right: 0;
  top: 0;
}

footer {
  left: 0;
  right: 0;
  bottom: 0;
}

section::after {
  right: 0;
  bottom: 0;
  font-size: 80%;
}

/* Grid and Layout */
div.grid {
  align-items: center;
  gap: 20px;
  height: 100%;
}

div.grid.items-start {
  align-items: flex-start;
}

/* SVG Styles */
svg[data-marp-fitting=svg] {
  max-height: 580px;
}

pre code svg[data-marp-fitting=svg] {
  max-height: calc(580px - 1em);
}

g.node,
g.label,
g.cluster-label {
  stroke: none;
  border: none;
  font-family: 'IBM Plex Sans';
  font-size: 0.9em;
}

g.node rect {
  stroke: #333;
  stroke-width: 0.5px;
}

g.notice rect {
  fill: #9c4f8a;
}

g.notice span {
  color: #fff;
}

/* Misc */
mark {
  background: transparent;
}

section a,
section mark {
  color: var(--light-red);
}

hr {
  margin-top: 30px;
}
