@charset "UTF-8";
/*!
 * @theme light
 * @author Daniel Nicolas Gisolfi / Andy Lok
 *
 * @auto-scaling true
 * @size 4:3 960px 720px
 * @size 16:9 1280px 720px
 */
 
@import url("https://fonts.googleapis.com/css?family=Lato:400,900|IBM+Plex+Sans:300,400,700");

:root {
  --light-background: #ffffff;
  --light-current-line: #e3e3e3;
  --light-foreground: #000000;
  --light-comment: #6272a4;
  --light-cyan: #447fad;
  --light-green: #43833c;
  --light-orange: #f0a25c;
  --light-pink: #890f50;
  --light-purple:#bd93f9;
  --light-red: #9c4f8a;
  --light-yellow: #f0a25c;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: var(--light-background);
}

/* light Foreground */
.hljs,
.hljs-subst,
.hljs-typing,
.hljs-variable,
.hljs-template-variable {
    color: var(--light-foreground);
}

/* light Comment */
.hljs-comment,
.hljs-quote,
.hljs-deletion {
    color: var(--light-comment);
}

/* light Cyan */
.hljs-meta .hljs-doctag,
.hljs-built_in,
.hljs-selector-tag,
.hljs-section,
.hljs-link,
.hljs-class {
    color: var(--light-cyan);
}


/* light Green */
.hljs-title {
    color: var(--light-pink);
}

/* light Orange */
.hljs-params {
    color: var(--light-orange);
}

/* light Pink */
.hljs-keyword {
    color: var(--light-pink);
}

/* light Purple */
.hljs-literal,
.hljs-number {
    color: var(--light-green);
}

/* light Red */
.hljs-regexp {
    color: var(--light-red);
}

/* light Yellow */
.hljs-string,
.hljs-name,
.hljs-type,
.hljs-attr,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-template-tag {
    color: var(--light-yellow);
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-params,
.hljs-emphasis {
 font-style: italic;
}

svg[data-marp-fitting=svg] {
  max-height: 580px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0 0 0;
  color: var(--light-cyan);
}
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  font-weight: inherit;
}

h1 {
  font-size: 2.8em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
}

p,
blockquote {
  margin: 1em 0 0 0;
}

ul > li,
ol > li {
  margin: 0.5em 0 0 0;
  color:  var(--light-foreground);
  font-size: 0.9em;
}
ul > li > p,
ol > li > p {
  margin: 0.6em 0 0 0;
}

code {
  display: inline-block;
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.8em;
  letter-spacing: 0;
  margin: -0.1em 0.15em;
  padding: 0.1em 0.2em;
  vertical-align: baseline;
  color: var(--light-green);
}

pre {
  display: block;
  margin: 1em 0 0 0;
  min-height: 1em;
  overflow: visible;
}
pre code {
  box-sizing: border-box;
  margin: 0;
  min-width: 100%;
  padding: 0.5em;
  font-size: 0.5em;
}
pre code svg[data-marp-fitting=svg] {
  max-height: calc(580px - 1em);
}

blockquote {
  margin: 1em 0 0 0;
  padding: 0 1em;
  position: relative;
  color: var(--light-orange);
}
blockquote::after, blockquote::before {
  content: "“";
  display: block;
  font-family: "Times New Roman", serif;
  font-weight: bold;
  position: absolute;
  color: var(--light-green);
}
blockquote::before {
  top: 0;
  left: 0;
}
blockquote::after {
  right: 0;
  bottom: 0;
  transform: rotate(180deg);
}
blockquote > *:first-child {
  margin-top: 0;
}

mark {
  background: transparent;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1em 0 0 0;
}
table th,
table td {
  padding: 0.2em 0.4em;
  border-width: 1px;
  border-style: solid;
}

section {
  font-size: 25px;
  font-family: "IBM Plex Sans";
  /* font-family: system-ui; */
  line-height: 1.35;
  padding: 70px;
  color: var(--light-foreground);
  background-color: var(--light-background);
}
section > *:first-child,
section > header:first-child + * {
  margin-top: 0;
}
section a,
section mark {
  color: var(--light-red);
}
section code {
  background: var(--light-current-line);
  color: var(--light-current-green);
}
section h1 strong,
section h2 strong,
section h3 strong,
section h4 strong,
section h5 strong,
section h6 strong {
  color: var(--light-background);
}
section pre > code {
  background: var(--light-background);
}
section header,
section footer,
section section::after,
section blockquote::before,
section blockquote::after {
  color: var(--light-comment);
}
section table th,
section table td {
  border-color:  var(--light-foreground);
}
section table thead th {
  background: var(--light-background);
  color: var(--light-red);
}
section table tbody > tr:nth-child(even) td,
section table tbody > tr:nth-child(even) th {
  background: var(--light-background);
}

header,
footer,
section::after {
  box-sizing: border-box;
  font-size: 66%;
  height: 70px;
  line-height: 50px;
  overflow: hidden;
  padding: 10px 25px;
  position: absolute;
  color: var(--light-comment);
}

header {
  left: 0;
  right: 0;
  top: 0;
}

footer {
  left: 0;
  right: 0;
  bottom: 0;
}

section::after {
  right: 0;
  bottom: 0;
  font-size: 80%;
}

hr {
  margin-top: 30px;
}

p {
  font-size: 0.8em;
}

div.grid {
  align-items: center;
  height: 550px;
}

div.grid.items-start {
  align-items: flex-start;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  color: var(--light-foreground);
  font-size: 1em;
  font-weight: 400;
}

h3 strong {
  color: var(--light-foreground);
  font-weight: 700;
}

p, ol li {
  font-size: 0.6em;
  font-weight: 300;
}

ol {
  padding-left: 0.7em;
}

ul {
  list-style-type: none;
  font-weight: 300;
  font-size: 0.9em;
}

ul li {
  padding-bottom: 0.6em;
}

table th, table td {
  font-size: 0.6em;
  padding: 0.3em 1.2em 0.3em 1.2em;
  font-weight: 300;
}

p strong {
  font-weight: 700;
}

g.node, g.label, g.cluster-label {
  stroke: none;
  border: none;
  font-family: 'IBM Plex Sans';
  font-size: 0.9em;
}

g.node rect {
  stroke: #333;
  stroke-width: 0.5px;
}

g.notice rect {
  fill: #9c4f8a;
}

g.notice span {
  color: #fff;
}